@model IEnumerable<SistemaMediMan.Models.DEPORTES>
@{
    ViewBag.Title = "Deportes";
}



    <main>
        <h4>@ViewBag.Title</h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-1 offset-sm-1 col-lg-10 col-sm-10">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Deporte</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var deporte in Model)
                            {
                                <tr>
                                    <td>@deporte.ID</td>
                                    <td>@deporte.DEPORTE</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Delete", new { ID = deporte.ID }, new { onclick = "if (! confirm('¿Desea eliminar registro?')) return false;" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="@Url.Action("Create","Deporte")" method="get">
                <div class="row">
                    <div class="offset-lg-10 col-lg-2 offset-sm-10 col-sm-2">
                        <button class="btn" style="background-color:#134C89; color:azure">Nuevo Deporte</button>
                    </div>
                </div>
            </form>
        </div> <!--fin container-->
    </main>

