<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title </title>
    <!--Plantilla de estilos-->
    <link href="~/Content/estilos.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Header-->
    <div class="navbar fixed-top d-flex " style="background-color:#196DC8">

        <a href="~/Views/Consult/Index" class="href col-lg-1 col-lg-offset-1"><img src="~/Content/img/logoRS.png" width="100" /></a>
        <div class="navbar-header fixed-top col-lg-3 col-lg-offset-6 col-md-offset-7 col-sm-offset-4">
            <div class="offset-lg-6 col-lg-4 col-sm-1 col-md-2">
                <form class="form-group">
                    <input class="form-control h-25 mt-4 p-1" type="text" placeholder="Buscar Paciente" aria-label="Search" />
                    <button class="btn btn-outline-success h-25 mt-4 p-0" style="background-color:#134C89; color:azure" type="submit">Ir</button>
                </form>
            </div>
        </div>
    </div>



    <div class="container">
        @RenderBody()
    </div>

    <!--Footer-->
    <footer class="page-footer font-small white position-absolute mb-0 w-100 h-auto">
        <!-- Copyright -->
        <div class="footer-copyright" style="font-size:14px;">
            ©Copyright 2020 by Paulina Bordones. All rights reserved.
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Fin Footer -->

    <script src="js/jquery-3.5.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
