@model IEnumerable<SistemaMediMan.Models.CONSULTAS>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Consultas";
}


    <main>
        <h4><center>@ViewBag.Title</center></h4>
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-1 offset-sm-1 col-lg-10 col-sm-10">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Box</th>
                                <th>N° Sesión</th>
                                <th>Paciente</th>
                                <th>Kinesiólogo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var consulta in Model)
                            {
                                <tr>
                                    <td>@consulta.ID</td>
                                    <td>@consulta.FECHA.ToShortDateString()</td>
                                    <td>@consulta.HORA</td>
                                    <td>@consulta.BOX</td>
                                    <td>@consulta.SESION</td>
                                    <td>@Html.ActionLink(@SistemaMediMan.Controllers.ConsultController.NomPac(consulta.PAC_ID), "Index", "Paciente")</td>
                                    <td>@Html.ActionLink(@SistemaMediMan.Controllers.ConsultController.NomEmp(consulta.EMP_ID), "Index", "Empleado")</td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { ID = consulta.ID })|
                                        @Html.ActionLink("Eliminar", "Delete", new { ID = consulta.ID }, new { onclick = "if (! confirm('¿Desea eliminar registro?')) return false;" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="@Url.Action("Create","Consult")" method="get">
                <div class="row">
                    <div class="offset-lg-10 col-lg-2 offset-sm-10 col-sm-2">
                        <button class="btn">Nueva Consulta</button>
                    </div>
                </div>
            </form>
        </div> <!--fin container-->
    </main>

