@model SistemaMediMan.Models.ACTIVIDADES
@{
    ViewBag.Title = "Nueva Actividad";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <main>
        <div class="form-horizontal">
            <h4>@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.ACTIVIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ACTIVIDAD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ACTIVIDAD, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group form-group col-lg-3 col-sm-3 mt-1">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Agregar" class="btn" style="background-color:#134C89; color:azure" />
                    </div>
                </div>
            </div><!--fin row-->
        </div>
    </main>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

