@model IEnumerable<SistemaMediMan.Models.ACTIVIDADES>
@{
    ViewBag.Title = "Actividades";
}



    <main>
        <h4>@ViewBag.Title</h4>
        </hr>
        <!--Inicio container-->
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-sm-10">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Actividad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var actividades in Model)
                            {
                                <tr>

                                    <td>@actividades.ID</td>
                                    <td>@actividades.ACTIVIDAD</td>
                                    <td>
                                        @Html.ActionLink("Eliminar", "Delete", new { ID = actividades.ID }, new { onclick = "if (! confirm('¿Desea eliminar registro?')) return false;" })
                                    </td>
                                    
                                </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
            <form action="@Url.Action("Create","Actividad")" method="get">
                <div class="row">
                    <div class="offset-lg-10 col-lg-2 offset-sm-10 col-sm-2">
                        <button class="btn" style="background-color:#134C89; color:azure">Nueva Actividad</button>
                    </div>
                </div>
            </form>
        </div> <!--fin container-->
    </main>


