@model IEnumerable<SistemaMediMan.Models.EMPLEADOS>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado Empleados";
}


    <main>
        <h4><center>@ViewBag.Title</center></h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>Rut</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Rol</th>
                                <th>Usuario</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var empleados in Model)
                            {
                                <tr>
                                    <td>@empleados.RUT</td>
                                    <td>@empleados.NOMBRE @empleados.APELLIDOP @empleados.APELLIDOM</td>
                                    <td>@empleados.TELEFONO</td>
                                    <td>@empleados.ROL</td>
                                    <td>@empleados.USER</td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { ID = empleados.ID })|
                                        @Html.ActionLink("Eliminar", "Delete", new { ID = empleados.ID }, new { onclick = "if (! confirm('¿Desea eliminar registro?')) return false;" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="@Url.Action("Create","Empleado")" method="get">
                <div class="row">
                    <div class="offset-lg-10 col-lg-2 offset-sm-10 col-sm-2">
                        <button class="btn" style="background-color:#134C89; color:azure">Nuevo Usuario</button>
                    </div>
                </div>
            </form>
        </div> <!--fin container-->
    </main>

