@model IEnumerable<SistemaMediMan.Models.FICHAS>

@{
    ViewBag.Title = "Ficha Clínica";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MEDICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRATAMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIAGNOSTICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANTMORBIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAC_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MEDICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRATAMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIAGNOSTICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANTMORBIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAC_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
