@model IEnumerable<SistemaMediMan.Models.PACIENTES>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado Pacientes";
}

    <main>
        <h4><center>@ViewBag.Title</center></h4>
        <!--Inicio container-->
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <table class="table table-light">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Rut</th>
                                <th>Nombre</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Edad</th>
                                <th>Sexo</th>
                                <th>Teléfono</th>
                                <th>Previsión</th>
                                <th>Dirección</th>
                                <th>Actividad</th>
                                <th>Deporte</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pacientes in Model)
                            {
                                <tr>
                                    <td>@pacientes.ID</td>
                                    <td>@pacientes.RUT</td>
                                    <td>@pacientes.NOMBRE @pacientes.APELLIDOP @pacientes.APELLIDOM</td>
                                    <td>@pacientes.FDENAC.ToShortDateString()</td>
                                    <td>@pacientes.EDAD</td>
                                    <td>@{ 
                                            if (pacientes.SEXO == false)
                                            {
                                                <span>Femenino</span>
                                            }
                                            else
                                            {
                                                <span>Masculino</span>
                                            }
                                        }
                                    </td>
                                    <td>@pacientes.TELEFONOP</td>
                                    <td>@pacientes.PREVISION</td>
                                    <td>@pacientes.CALLE @pacientes.NUMCALLE @pacientes.DPTO. @pacientes.COMUNA</td>
                                    <td>@pacientes.ACT_ID</td>
                                    <td>@pacientes.DEP_ID</td>

                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { ID = pacientes.ID })|
                                        @Html.ActionLink("Ver Ficha", "", new { ID = pacientes.ID })|
                                        @Html.ActionLink("Eliminar", "Delete", new { ID = pacientes.ID },new { onclick= "if (! confirm('¿Desea eliminar registro?')) return false;" } )

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="@Url.Action("Create","Paciente")" method="get">
                <div class="row">
                    <div class="offset-lg-10 col-lg-2 offset-sm-10 col-sm-2">
                        <button class="btn" style="background-color:#134C89; color:azure">Nuevo Paciente</button>
                    </div>
                </div>
            </form>
        </div> <!--fin container-->
    </main>


